<%= form_for([@surrogate, @task]) do |f| %>
<%= render 'shared/errors', object: @task %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name, autofocus: true %>
  </p>
    <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :status %><br/>
    <%= f.select  :status, Task::STATUS_OPTIONS, prompt: "Choose One" %>
  </p>
  <p>
    <%= f.submit %>
    <%= link_to "Cancel", surrogates_path, class: "button" %>
  </p>

<% end %>