<header>
<h1><%= pluralize(@tasks.size, 'Task') %></h1>
</header>

<%= link_to "Add New Task", new_task_path %>

<% @tasks.each do |task| %>
  <article>
    <header>
      <h2><%= link_to task.name, task %></h2> 
    </header>
    <p>
      <%= task.description %>
    </p>
    <p>
      <%= task.status %>
    </p>
  </article>
<% end %>