<article>
  <header>
    <h1><%= @task.name %></h1>
  </header>
  <h3>Status</h3>
  <p>
    <%= @task.description %>
  </p>
  <p>
    <%= @task.status %>
  </p>
</article>

<nav>
  <%= link_to "All Tasks", tasks_path %> |
  <%= link_to "Edit", edit_task_path(@task) %> |
  <%= link_to "Delete", task_path(@task), method: :delete, data: {confirm: 'Are you sure?'}  %>

</nav>