<h1><%= pluralize(@surrogates.size, 'Surrogate') %></h1>

<%= link_to "Add New Surrogate", new_surrogate_path %>


<% @surrogates.each do |surrogate| %>
  <article>
    <header>
      <h2><%= link_to surrogate.name, surrogate %></h2>
    </header>
    <p>
      <%= surrogate.status %>
    </p>
  </article>
<% end %>

<h2>Rejected Surrogates</h2>
<%= @surrogates.rejected.as_json %>