<article>
  <header>
    <h1><%= @surrogate.name %></h1>
  </header>
  <h3>Status</h3>
  <p>
    <%= @surrogate.status %>
  </p>
</article>

<nav>
  <%= link_to "All Surrogates", surrogates_path %> |
  <%= link_to "Edit", edit_surrogate_path(@surrogate) %> |
  <%= link_to "Delete", surrogate_path(@surrogate), method: :delete, data: {confirm: 'Are you sure?'}  %>
</nav>