<article>
  <header>
    <h1><%= @surrogate.name %></h1>
  </header>
  <h3>Status: <%= @surrogate.status %></h3>
</article>

<%= link_to "#{@surrogate.name}'s Tasks", surrogate_tasks_path(@surrogate) %>

<footer>
  <%= link_to "Add New Task", new_surrogate_task_path(@surrogate), class: "button" %>
  <nav>
    <%= link_to "All Surrogates", surrogates_path %> |
    <%= link_to "Edit", edit_surrogate_path(@surrogate) %> |
    <%= link_to "Delete", surrogate_path(@surrogate), method: :delete, data: {confirm: 'Are you sure?'}  %>
  </nav>
</footer>